<div class="div">
    <h3>Add new Product</h3>
    <app-question-form></app-question-form>    
        
</div>

<!-- <form (onsubmit)="submitForm" >
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" class="input w-auto form-control">
    </div>
    <div class="form-group">
        <label for="description">description:</label>
        <input type="text" name="description" id="description" class="input w-auto form-control">
    </div>
    <div class="form-group">
        <label for="compose">Composer de:</label>
        <select multiple id="compose" name="compose" class="select w-auto form-control">
            <option value="0">faite votre choix</option>
        </select>
    </div>
    <div class="form-group">
        <label for="price">Title:</label>
        <input type="number" name="price" id="price" class="input w-auto form-control">
    </div>

</form> -->